html,body{
    overflow: hidden;
}
canvas{
    background-color: skyblue;
}
.buttons{
    padding: 5px;
    background-color: brown;
    height: 100%;
}
.angleOnly{
    background-color: khaki;
}
.powerOnly{
    background-color: cornsilk;
}